body{
    background-color: lightcoral;
    justify-self: center;
    text-align: center;
}

header {
    color: aqua;
    font-size: 4rem;
}

footer {
    color : red;
}
a {
    color: black;
    font-size: 2rem;
}

